<p>modal works!</p>
<div class="modal">
  <div class="modal-overlay" (click)="close($event)"></div>
  <div class="modal--modal-content">
    <div class="flex mb-4">
      <img class="fit-picture h-80 w-66 m-auto" src="http://image.tmdb.org/t/p/w500/{{modalTitle.poster_path}}" alt="picture of movie">
    </div>
    <div class="flex">
      <h2 class="m-auto font-bold" [innerHTML]="modalTitle.title"></h2>
    </div>
    <div class="mb-3" [innerHTML]="modalTitle.overview"></div>
    <div class="mb-3">
      <span class="pb-1 font-semibold">Release date:</span>
      <div [innerHTML]="modalTitle.release_date"></div>
    </div>
    <div class="mb-3">
      <span  class="pb-1 font-semibold">Rate :</span>
      <div [innerHTML]="modalTitle.vote_average"></div>
    </div>
    <div class="mb-3">
      <span  class="pb-1 font-semibold">Original language:</span>
      <div [innerHTML]="modalTitle.original_language"></div>
    </div>
    <a class="modal--close-btn" (click)="close($event)">X</a>
  </div>
</div>
