.text1{
    text-align: center;
    width: 100%;
    margin: 15px;
}

h1{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin: 20px;
}

p{
    margin: 5px;
    text-align: center;
    font-size: 15px;
}

.slide1{
    float: left;
    width: 49%;
}

.slide2{
    float: left;
    width: 49%;
}

.slides{
    width: calc(100%*3);
    animation: glisses 30s infinite;
}

.slider{
    width: 50%;
    overflow: hidden;
    margin: auto;
}

@keyframes glisses{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0);
    }
}