<div class="h-screen">
    <h1>Find My Movie</h1>
    <div class="slider">
        <div class="slides">
            <div class="slide1"><img src="assets/img/photoCine.jpg"/></div>
            <div class="slide2"><img src="assets/img/photoCine2.jpg"/></div>
        </div>
    </div>

    <div class="text">
        <div class="text1">
            <p>Bienvenue sur Find My Movie, vous êtes en panne d'apiration pour regarder un film?
                Vous pouvez vous inspirer dans l'onglet "Top Movie"  pour regarder les meilleurs films !<br>
                Ou alors vous connaissez le nom du film et voulez en savoir plus?
                Rendez-vous dans l'onglet "Search" pour en savoir plus sur le film !
            </p>
        </div>
    
        <!--<div class="text2">
            <p>Ou alors vous connaissez le nom du film et voulez en savoir plus?<br>
                Rendez-vous dans l'onglet "Search" pour en savoir plus sur le film !
            </p>
        </div>-->
    </div>
</div>

